/* =========================================navbar============================================================= */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
.nav-itens{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.nav-itens li a{
    color: black;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    background-color: #4ac3e0;
    border: 2px solid #4ac3e0;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
    font-weight: bold;



}

.nav-itens li a:hover{
    background-color: #d0d0d0;
    border: 2px solid #d0d0d0;
    transition: 1.0s;
}

.navbar-brand{
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
}

.sp a:hover{
    background-color: lightgreen !important;
    border: 2px solid lightgreen !important;
}





























/*============================================= Slider ======================================================*/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important; /*o !importante e para que ele nao crie paddings quando estiver em outrs resolucoes */
    overflow: hidden;
    margin-bottom: 50px;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none; 

}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center ;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid blue;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: blue;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: blue;
} 

#radio1:checked ~ .primeiro{
    margin-left: 0% ;
}
#radio2:checked ~ .primeiro{
    margin-left: -25% ;
}
#radio3:checked ~ .primeiro{
    margin-left: -50% ;
}























/* ======================================================Cursos==================================================== */

.cursos{
    
    display: grid;
    text-align: center;
    grid-template-areas: 
    '1 2 3'
    ;
    gap: 5px;
    
}



.content-curso{
    
    background-color: aliceblue;
    padding: 0;
    width: auto;
    height: 250px;
    

    
}


    
    






/* ======================================================Serviços==================================================== */

.service-box{
    margin-top: 15px;
    gap: 5px;
    display: grid;
    grid-template-areas: 
    'img desc desc';

}

.service-box div{
    height: 400px;
    padding: 15px;
    border: 2px solid red;
    background-color: aqua;
}

.img-box{
    grid-area: img;

}

.descricao{
    grid-area: desc;
}






footer{
    background-color: white;
    height: 350px;
}













