/* =========================================navbar============================================================= */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.menu{
    display: none !important;
}

.nav-itens{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.nav-itens li a{
    color: black;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    background-color: #4ac3e0;
    border: 2px solid #4ac3e0;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
    font-weight: bold;



}

.nav-itens li a:hover{
    background-color: #d0d0d0;
    border: 2px solid #d0d0d0;
    transition: 1.0s;
}

.navbar-brand{
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;

}

.sp a:hover{
    background-color: lightgreen !important;
    border: 2px solid lightgreen !important;
}





























/*============================================= Slider ======================================================*/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important; /*o !importante e para que ele nao crie paddings quando estiver em outrs resolucoes */
    overflow: hidden;
    margin-bottom: 50px;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none; 

}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center ;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 34.5%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #d0d0d0;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #d0d0d0;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #d0d0d0;
} 

#radio1:checked ~ .primeiro{
    margin-left: 0% ;
}
#radio2:checked ~ .primeiro{
    margin-left: -25% ;
}
#radio3:checked ~ .primeiro{
    margin-left: -50% ;
}























/* ======================================================Cursos==================================================== */

.container-box{
    display: none;
}
.titulocursos h1{
    color: #d0d0d0;
    text-align: center;
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em #4ac3e0;
    
    
}

.container-slider{
    display: none;
}



.cursos{
    text-align: center;

    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    
    
}



.cursos a img{
    border: 3px solid #4ac3e0;
    border-radius: 10px;
    width: 307px;
}


    
    






/* ======================================================Serviços==================================================== */

.service-box{
    /* border: 3px solid #4ac3e0; */
    border-radius: 10px;

    height: 306px;
    width: 612px !important;

    padding: 0 !important;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;

}


.descricao{
    

    height: auto;
    width: 306px;


    display: flex;
    align-items:center ;
    
    
}


.descricao ul li{
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 1,9rem;
    text-shadow: 0.1em 0.1em 0.2em #022129;
    
    
}

.btn{
    width: 130px;
    margin-top: 15%;
    margin-left: 10%;
      
}

.descricao button{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    
}


.descricao button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 80px #0d94b6 ;
    

}







.img-box img{
    margin: -3px !important;
    border-radius: 10px;
    /* border:  3px solid #4ac3e0; */
}

.whats img{
    position: fixed;
    bottom: 6%;
    right: 4%;
    width: 50px ;
    height: 50px;
    
}

.service-mobile{
    display: none;
}

.itens-mobile{
    display: none;
}





/* ========================================================Rodape===================================================== */

footer{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #121214;
    
}
.rodape{
    display: flex;
    
    

}
.criador{
    display: flex;
    align-items: center;
}

.criador h1{
    font-size: 0.7em;
    color: white;
}



.redes-sociais a img{
    height: 1.2em;
    width: 1.2em;
    
}

.redes-sociais{
    display: flex;
    justify-content: end;

    gap: 0.7em;
}






/* ===============================================Responsividade========================================================= */

@media(max-width: 640px){
    /* =======================NavBar====================== */
    .navbar-light{
        display: grid !important;
        grid-template-areas: 
        'img vazio menu';
        
    }
    
    .navbar-brand{
        width: 130px;
        height: 40px;
    }
    
    .navbar-brand img{
        width: 130px;
        height: 40px;
    }
    .menu{
        display: flex !important;
        grid-area: menu;

    }

    .nav-itens{
        display: none;

    }

    .menu{
        display: flex;
        background-color: transparent;
        border: none;
    }
    
    .itens-mobile li{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Merriweather', serif;
        list-style: none;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.2em #4ac3e0;
        
        
    }
    .nav-list{padding: 0.3rem;}
    .nav-list a{
        text-decoration: none;
        text-align: center;
        color: white ;
    }

    .nav-list a:hover{
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .open{
        display: block !important;
    }

    .slider-content{
        margin-top:20px ;
    }

    /* ==================================Cursos====================== */
    
   .cursos{
    display: none;
   }

   .titulocursos h1{
    font-size: 2rem;
   }
   
   .container-box{
    display: flex;
    position: relative;
    padding: 15px;
    max-width: 450px !important;
    margin: 0 auto;


   }

   .gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
   }

   .gallery-wrapper{
    overflow-x: auto;
   }

   .arrow-left, .arrow-right{
    
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    
    border: none;
    background: linear-gradient(to left, transparent 0%, #4ac3e0 300%);
   }

   .arrow-right {
    left: auto;
    right: 0;

    background: linear-gradient(to right, transparent 0%, #4ac3e0 300%);
   }
   
   .item{
    width: 130px;
    height: auto;
    flex-shrink: 0;
    opacity: 0.3;
    transition:  all 600ms ease-in-out;

    


   }

   .current-item{
    opacity: 1;
    border: 3px solid #4ac3e0;
    border-radius: 5px;
   }


   /* =================================Serviços============================ */
   .service-box{
    display: none;
    
   }

   .service-mobile{
    padding: 3em !important;
    padding-bottom: 0 !important;
    margin: 0;
    display: flex;

    justify-content: center;
   }

   #img-service{
    padding: 5px;
    width: 130px;
    height: 130px;
   }

   .desc{
    font-size: 13px;
    color: white;
    font-weight: bold;
    font-size: 1,9rem;
    text-shadow: 0.1em 0.1em 0.2em #022129;
    
    padding-inline-start: 2em;
   }

   #btn-service{
    background-color: #022129;
    border: 3px solid #022129;
    font-family: 'Merriweather', serif;
    border-radius: 10px;
    
    
    
    text-align: center;
   }

    #btn-service:hover{
    background-color: #4ac3e0;
    color: black;
    box-shadow: 0 0 80px #0d94b6 ;
    border: none;
    }

    #btn-service a:hover{
        color: black;
    }

   .btn-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    
    }

    #btn-service a{
        color: white;
        text-decoration: none;
        padding: 25px;
        
    }
    
   

   




}
    








